body{
    background-color: #d5e1ef ;
}
.box{
    /* background-color: white; */
    /* align-content: center; */
    /* background-repeat: no-repeat; */
    margin: auto;
    margin-top: 50px;
    height: 470px;
    width: 350px ;
    background-color: white;
    border-radius: 25px;
}
img{
    height: 260px;
    width: 300px;
    border-radius: 40px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
h1{
    text-align: center;
}
h2{
    font-size: larger;
    font-weight: 980;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    padding-left: 40px;
    
}
.cntnt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px  ;
}